#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.grid-container {
 display: flex;
 gap: 10px;
 width: 100%;
 flex-wrap: wrap;
 justify-content: center;
}

.card{
  background: rgb(199, 195, 195);
  height: 400px;
  border-radius: 20px;
}
.card img{
  height: 200px;
  width: 100%;
  object-fit: contain;
}
.card h1{
  font-size: 10px;
}
.read-the-docs {
  color: #888;
}
